<article class="post">
  <div class="title">
    <a class="box-title" href="/post/{{id}}">{{title}}</a>
    <p class="box-post">{{post_text}}</p>
  </div>
  <div class="meta">
    by
    {{user.username}}
    on
    {{format_date created_at}}
  </div>
</article>